@media(max-width:1440px){
    .your-fans-container h1{
        font-size: 4.0rem;
    }

    .your-fans-container p{
        font-size: 2.0rem;
        line-height: 30px;
    }

    .btn-register{
        padding: 10px;
        width: 200px;
    }
}

@media(max-width:850px){
    .your-fans-container h1{
        font-size: 2.8rem;
    }

    .your-fans-container p{
        font-size: 1.6rem;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .btn-register{
        padding: 10px;
        width: 200px;
    }
}



@media(max-width:785px){
    .your-fans-container h1 {
        font-size: 2.0rem;
        margin: 0;
    }

    .your-fans-container p {
        font-size: 1.4rem;
        padding-top: 10px;
    }
}

@media(max-width:610px){
    .your-fans-container h1 {
        font-size: 1.8rem;
        margin: 0;
    }

    .your-fans-container p {
        font-size: 1.2rem;
        padding-top: 10px;
    }
}

@media(max-width:475px){
    body{
    background: url(../images/bg-mobile.svg) no-repeat;
    background-color: var(--violet);
    background-size: cover;
    height: 30vh;
    }

    header img{
        width: 160px;
    }
    .grid-container{
        grid-template-columns: 1fr;
        grid-row-gap: 100px;
    }

    .your-fans-container{
        text-align: center;
    }

    .your-fans-container h1{
        font-size: 1.8rem;
    }

    .your-fans-container p{
        font-size: 1.4rem;
    }

    .cabecalho nav {
        justify-content:  center;

    }

    .cabecalho nav a i{
        font-size: 2.6rem;
        padding: 20px;
        width: 60px;
        height: 60px;
        text-align: center;
    }
}