html{
    font-size: 62.5%;
    
    
}

body{
    background: url(../images/bg-desktop.svg) no-repeat;
    background-color: var(--violet);
    background-size: cover;
    height: 100vh;
   
   
}

header{
    padding: 50px 80px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    padding: 0 80px;
}

.grid-container img{
    width: 100%;
}

.your-fans-container h1{
    font-size: 6rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.your-fans-container p{
    font-size: 2.8rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    margin-bottom: 40px;
}

.btn-register{
    padding: 20px;
    width: 250px;
    background-color: #fff;
    border: none;
    border-radius: 35px;
    font-size: 2.0rem;
    color: var(--violet);
    font-family: "Poppins", sans-serif;
    box-shadow: 2px 2px 12px rgb(58, 58, 58);
    transition: 0.2s;
}

.btn-register:hover{
    cursor: pointer;
    background-color: var(--violet);
    color: #fff;
}
.cabecalho{
   padding: 30px 80px;
}

.cabecalho nav{
    display: flex;
    justify-content: flex-end;
}

.cabecalho nav a{
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 20px;
}
.cabecalho nav a i{
    font-size: 30px;
    color: #fff;
    padding: 15px;
    width: 60px;
    height: 60px;
    text-align: center;
}

